/* 
********************************
TABLET:
********************************
*/

@media (max-width: 1175px) {
  :root {
    /* Font sizes (in rem) */
    --fs-xl: 1.5rem; /* 24px */

    /* Containers */
    --profile-card-height: 8.313rem; /* 133px */
    --timeframe-card-height: 12.69rem; /* 203px */
    --stats-height: 11.25rem; /* 180px */
    --image-size: 4rem; /* 64px */

    /* Grid Values */
    --grid-width: 38.25rem; /* 612px */
    --grid-height: 42.31rem; /* 677px */
    --grid-column-width: 11.75rem; /* 188px */
    --grid-gap: 1.5rem; /* 24px */
  }

  /* Grid */
  .grid--3-cols {
    grid-template-columns: repeat(3, var(--grid-column-width));
  }

  .grid--rows {
    grid-template-rows: repeat(3, 1fr);
  }

  /* Profile Card */
  .dashboard__profile-card {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    gap: var(--grid-gap);
    padding: var(--space-lg);
  }

  .dashboard__profile-photo {
    margin-bottom: 0;
  }

  .dashboard__profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem; /* 8px */
  }

  /* Timeframe Card */
  .dashboard__timeframe {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    justify-content: center;
    padding: 1.5rem; /* 24px */
  }
  .dashboard__timeframe ul {
    display: flex;
    gap: 2rem; /* 32px */
  }

  .dashboard__timeframe li {
    margin-bottom: 0;
  }

  /* Stats Card */
  .dashboard__stats-banner img {
    margin-top: -0.625rem; /* -10px */
    margin-right: 0.5rem; /* 8px */
  }

  .dashboard__stats {
    padding: var(--space-md);
  }

  .dashboard__stats-header {
    margin-bottom: 1rem; /* 16px */
  }

  .dashboard__stats-button {
    width: 0.75rem; /* 12px */
  }
}

/* 
********************************
MOBILE:
********************************
*/
@media (max-width: 640px) {
  :root {
    /* Font sizes (in rem) */
    --fs-2xl: 2rem; /* 32px */

    /* Containers */
    --stats-height: 7.625rem; /* 122px */

    /* Grid Values */
    --grid-width: 20.44rem; /* 327px */
    --grid-height: 81.69rem; /* 1307px */
    --grid-column-width: 100%;
  }

  .wrapper {
    height: auto;
    margin: 5rem auto; /* 80px auto */
  }
  .grid--1-cols {
    grid-template-columns: 1fr;
  }

  .grid--rows {
    grid-template-rows: repeat(7, 1fr);
  }

  /* Profile Card */
  .dashboard__profile-card {
    grid-column: 1 / 2;
  }

  /* Timeframe Card */
  .dashboard__timeframe {
    grid-column: 1 / 2;
  }

  /* Stats Card */
  .dashboard__stats-header {
    margin-bottom: 0.5rem; /* 8px */
  }

  .dashboard__stats-button {
    width: auto;
  }

  .dashboard__stats-hours {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dashboard__stats-current {
    margin-bottom: 0;
  }
}
