:root {
  /* Colors: */
  --clr-navy-950: #0e1323;
  --clr-navy-900: #1c204b;
  --clr-navy-850: #272c63;
  --clr-navy-800: #33397a;
  --clr-navy-200: #bbc0ff;
  --clr-orange-300: #ff8b64;
  --clr-purple-700: #7335d2;
  --clr-purple-600: #5747ea;
  --clr-purple-500: #7078c9;
  --clr-blue-300: #55c2e6;
  --clr-pink-400: #ff5e7d;
  --clr-green-400: #4bcf82;
  --clr-yellow-300: #f1c75b;
  --clr-grey-200: #d8d8d8;

  /* Semantic colors */
  --clr-attribution: #3e52a3;

  /* Font sizes (in rem) */
  --fs-xs: 0.9375rem; /* 15px */
  --fs-sm: 1.125rem; /* 18px */
  --fs-md: 1.5rem; /* 24px */
  --fs-lg: 2rem; /* 32px body text */
  --fs-xl: 2.5rem; /* 40px */
  --fs-2xl: 3.5rem; /* 56px */

  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;

  /* Containers */
  --wrapper-width: 90rem; /* 1440px */
  --profile-card-height: 22.13rem; /* 354px */
  --timeframe-card-height: 12.5rem; /* 200px */
  --stats-height: 12.5rem; /* 200px */
  --image-size: 4.875rem; /* 78px */

  /* Grid Values*/
  --grid-width: 69.75rem; /* 1116px */
  --grid-height: 32.5rem; /* 520px */
  --grid-column-width: 15.94rem; /* 255px */
  --grid-gap: 2rem; /* 32px */

  /* Spacing scale (rem) */
  --space-xs: 0.5rem; /* 8px */
  --space-sm: 1rem; /* 21px */
  --space-md: 1.5rem; /* 24px */
  --space-lg: 2rem; /* 32px */
  --space-xl: 2.5rem; /* 40px */

  /* Border-radius scale */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 1rem; /* 16px */
  --radius-circle: 50%; /* circular elements */

  /* Line heights */
  --lh-profile-name: 1.175; /* 47px lh for text at 40px */
  --lh-timeframe: 1.167;
}

/* 
********************************
SELF-HOSTING FONT:
********************************
*/

/* VARIABLE FONT: */
@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik-VariableFont_wght.woff2')
      format('woff2-variations'),
    url('/assets/fonts/Rubik-VariableFont_wght.woff') format('woff');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

/* 
********************************
GLOBAL CSS VALUES:
********************************
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  letter-spacing: 0;

  color: var(--clr-navy-200);
  background-color: var(--clr-navy-950);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 
********************************
MAIN:
********************************
*/
/* Container */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* opacity: 0;
  transition: opacity 0.3s ease-in-out; */
}

.wrapper.visible {
  /* opacity: 1; */
}
/* 
********
Grid
********
*/
.dashboard-grid {
  display: grid;
  gap: var(--grid-gap);
  max-width: var(--grid-width);
  height: var(--grid-height);
}

.grid--4-cols {
  grid-template-columns: repeat(4, var(--grid-column-width));
}

.grid--rows {
  grid-template-rows: repeat(2, 1fr);
}

.dashboard-item {
  position: relative;
  width: 100%;
  border-radius: var(--radius-lg);
  overflow: hidden;
}

/* Profile Card */
.dashboard__profile-card {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: var(--profile-card-height);
  padding: var(--space-lg);
  z-index: 99;
  background-color: var(--clr-purple-600);
}

.dashboard__profile-photo {
  width: var(--image-size);
  height: var(--image-size);
  margin-bottom: var(--space-xl);
  border: 3px solid white;
  border-radius: var(--radius-circle);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dashboard__profile-name {
  font-size: var(--fs-xl);
  font-weight: var(--fw-light);
  line-height: var(--lh-profile-name);
  color: white;
}

/* Timeframe Card */
.dashboard__timeframe {
  display: flex;
  align-items: end;
  align-self: flex-end;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: var(--timeframe-card-height);
  padding: var(--space-lg);
  background-color: var(--clr-navy-900);
}

.dashboard__timeframe ul {
  list-style: none;
  font-size: var(--fs-sm);
  line-height: var(--lh-timeframe);
  color: var(--clr-purple-500);
}

.dashboard__timeframe li {
  margin-bottom: var(--space-sm);
}

.dashboard__timeframe li:last-child {
  margin-bottom: 0;
}

.dashboard__timeframe li:hover {
  cursor: pointer;
  color: white;
  opacity: 0.75;
}

.dashboard__timeframe li,
.dashboard__timeframe li * {
  cursor: pointer;
}

/* Stats Card */
.dashboard__stats-banner {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 10rem; /* 160px */
  background-color: yellow;
  overflow: hidden;
}

.dashboard__stats-banner img {
  width: fit-content;
  height: fit-content;
  margin-top: -0.375rem; /* -6px */
  margin-right: 1.125rem; /* 18px */
  opacity: 0.9;
}

.dashboard__stats {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: var(--stats-height);
  padding: var(--space-lg);
  border-radius: var(--radius-lg);
  background-color: var(--clr-navy-900);
  z-index: 99;
}

.dashboard__stats:hover,
.dashboard__stats--selected {
  cursor: pointer;
  background-color: var(--clr-navy-800);
}

.dashboard__stats:active {
  background-color: var(--clr-navy-850);
}

.dashboard__stats-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-md);
}

.dashboard__stats-button {
  background: none;
  border: none;
}

.dashboard__stats-button:hover {
  cursor: default;
  opacity: 0.75;
}

.dashboard__stats-activity {
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
  color: white;
}

.dashboard__stats-current {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-light);
  margin-bottom: 8px;
  color: white;
}

.dashboard__stats-previous {
}
/* 
********************************
FOOTER:
********************************
*/

.attribution {
  text-align: center;
  margin-bottom: var(--space-xl);

  font-size: var(--fs-xs);
  color: var(--clr-purple-500);
}

/* LINKS */
/* Default State */
.attribution a:link {
  color: var(--clr-purple-500);
  text-decoration: none;
}

/* Visited State */
.attribution a:visited {
  color: var(--clr-purple-500);
}

/* State On Hover / Whilst being clicked */
.attribution a:hover,
.attribution a:active {
  opacity: 0.75;
}

/* 
********************************
UTILITY CLASSES:
********************************
*/
.orange-bg {
  background-color: var(--clr-orange-300);
}

.blue-bg {
  background-color: var(--clr-blue-300);
}

.pink-bg {
  background-color: var(--clr-pink-400);
}

.green-bg {
  background-color: var(--clr-green-400);
}

.purple-bg {
  background-color: var(--clr-purple-700);
}

.yellow-bg {
  background-color: var(--clr-yellow-300);
}

.white-text {
  color: white;
}
